<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Mining Tycoon</title>
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
<link rel="stylesheet" href="/css/style3.css">
<link rel="stylesheet" href="/css/chat.css">

</head>
<body>
  <div class="calendar">
    <div class="calendar-body">
      <span class="month-name"><%= name %></span>
      <span class="day-name">Level <%= level %></span>
      <span class="day-name">Balance</span>
      <span class="date-number"><%= account_balance %></span>
     
      <span class="day-name">Ore</span>
      <span class="date-number"><%= yeild %></span>
    </div>
  </div>
  
  <%- body %>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script  src="/js/script.js"></script>
<script  src="/js/chat1.js"></script>
</body>
</html>
